/* defining design for the whole app */
/* on CSS files for the pages, 'classes' used to specify object being modified */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


body {
    background: linear-gradient(135deg, #6a0dad, #1e90ff);

    /* text */
    color: white; /* any text in the body */
    font-family: Arial;
}

h1 {
    font-size: 4em;
    text-align: center;
}


p {
    text-align: center;
}


button {
    text-align: center; /* inside text only */
    display: block; /* buttons displayed vertically (column form) */
    margin: 20px auto; /* padding */
    padding: 10px 0; /* Removes padding on sides to maintain fixed width */
    width: 150px; /* Fixed width for same button size */
    font-size: 1.2em;
    border: none;
    font-family: 'Arial';
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    cursor: pointer; /* pointer when hovering over button */
    
}

.row{
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 50px;
}
.col{
    display: flex;
    width: 50%;
}