/* styling for home page */
/* classes are specific for each object */
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

.nowtify-header {
    margin: 100px auto; /* padding */
    animation: homeFade 2s ease-in-out forwards;
}

.fade {
    animation: homeFade 2s ease-in-out forwards;
}

/* class for login button */
.login-button {
    position: absolute; /* wont be affected by other elements */
    top: 10px;
    right: 20px;
    width: 80px;
    padding: 10px 0;
    font-size: 1.0em;
    animation: homeFade 2s ease-in-out forwards;
}


/* class for slogan */
.slogan {
    font-size: 1.6em;
    font-weight: bold;
    padding: 20px 0;
    animation: homeFade 2s ease-in-out forwards;
}



/* defining the header's fade with headerFade */
@keyframes homeFade {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}