/* styling for home page */
/* classes are specific for each object */
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }

.nowtify-header {
    margin: 100px auto; /* padding */
    animation: homeFade 2s ease-in-out forwards;
}

.fade {
    animation: homeFade 2s ease-in-out forwards;
}

/* class for login button */
.login-button {
    position: absolute; /* wont be affected by other elements */
    top: 10px;
    right: 20px;
    width: 80px;
    padding: 10px 0;
    font-size: 1.0em;
    animation: homeFade 2s ease-in-out forwards;
}


/* class for slogan */
.slogan {
    font-size: 1.6em;
    font-weight: bold;
    padding: 20px 0;
    animation: homeFade 2s ease-in-out forwards;
}


/* image container div */
.nowtify-home-image {
    position: absolute;
    opacity: 0.3;
    width: 100vw;
}

.nowtify-home-image img {
    width: 100%;
    min-height: 68vh;
    max-height: 78vh;
    overflow: hidden;
    object-fit: cover;
}


@media (max-width: 975px) {
    .nowtify-header {
        margin: 70px auto; /* padding */
    }
}

@media (max-width: 635px) {
    .nowtify-header {
        margin: 40px auto; /* padding */
    }
}

@media (max-height: 560px) {
    .slogan {
        font-size: 1.0em;
    }
    .smaller-p {
        font-size: 0.7em;
    }
    .nowtify-header {
        font-size: 2.5em;
    }
}



/* defining the header's fade with headerFade */
@keyframes homeFade {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}