/* login.css */


.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center; /* Center the CONTAINER's objects */
    align-items: center;
}

.big-rectangle {
    width: 90%; /* Responsive width */
    max-width: 400px;
    height: 70%;
    max-height: 800px;
    background: white;
    border-radius: 15px;
    padding: 20px; /* Inner padding */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center;
}

.login-header {
    font-size: 2.5em;
    color: #6834ba;
    margin: 10px 0; /* Margin for spacing */
    text-align: center;
    width: 100%;
}

.welcome-back-text {
    font-size: 1.2em;
    color: #606060;
    margin: 15px 0; /* Margin for spacing */
    text-align: center; /* Center the welcome text */
}

.username-box,
.password-box,
.login-submit {
    border: 1px solid #606060;
    width: 100%;
    height: 40px;
    margin: 15px 0; /* Center horizontally with margin */
    padding: 10px; /* Padding for text */
    border-radius: 15px;
    background-color: #f9f9f9;
    color: #252525;
    font-family: 'Arial';
    text-align: left;
}

.login-submit {
    height: 50px;
    background: linear-gradient(135deg, #8b0fe3, #59acfe);
    color: white;
    text-align: center;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    transition: background 0.3s;
}

.login-submit:hover {
    background: linear-gradient(135deg, #6a0dad, #1e90ff);
}

.error-msg {
    color: red;
    text-align: center;
    margin-top: 10px;
}



/* Responsive adjustments */
@media (max-width: 768px) {
    .login-header {
        font-size: 2em; /* Smaller font size for smaller screens */
    }

    .welcome-back-text {
        font-size: 1.5em; /* Smaller font size for smaller screens */
    }

    .username-box,
    .password-box,
    .login-submit {
        width: 90%; /* Increase width on smaller screens */
    }
}

@media (max-height: 630px) {
    .big-rectangle {
        height: auto;
    }

    .login-header,
    .welcome-back-text,
    .username-box,
    .password-box,
    .login-submit {
        margin: 10px 0; /* Margin for spacing */
    }
}