/* styling for login button */


.container {
    display: flex;
}

.login-header {
    position: relative;
    font-size: 2.5em;
    top: 125px;
    left: 300px;
    margin-top: -50px; /* Moves header up */
    margin: 10px auto; /* padding */
    color: #6834ba;
}

.welcome-back-text {
    position: relative;
    font-size: 3em;
    top: 180px;
    right: 200px;
    margin-top: -50px;
}

/* div is holding the text inside it and represents 'big rectangle' */
.big-rectangle {
    width: 1000px;
    height: 650px;
    background: linear-gradient(to right, #6834ba 60%, white 30%);
    border-radius: 20px;
}




.username-box {
    position: relative;
    border: 1px solid #606060; /* black border */
    width: 300px;
    height: 40px;
    top: 140px;
    left: 635px;
    padding: 10px 0; /* Removes padding on sides to maintain fixed width */
    border-radius: 20px;
    background-color: white;
    box-shadow: none;

    /* text */
    text-align: left;
    font-family: 'Arial';
    padding-left: 20px; /* when aligning to left, gives padding so not all the way left */
    color: #606060;
}

.password-box {
    position: relative;
    border: 1px solid #606060; /* black border */
    display: block; /* buttons displayed vertically (column form) */
    width: 300px;
    height: 40px;
    top: 170px;
    left: 635px;
    padding: 10px 0; /* Removes padding on sides to maintain fixed width */
    border-radius: 20px;
    background-color: white;
    box-shadow: none;

    /* text */
    text-align: left;
    font-family: 'Arial';
    padding-left: 20px; /* when aligning to left, gives padding so not all the way left */
    color: #606060;
}

.login-submit {
    position: relative;
    border: 1px solid #606060; /* black border */
    display: block; /* buttons displayed vertically (column form) */
    width: 300px;
    height: 60px;
    top: 200px;
    left: 295px;
    padding: 10px 0; /* Removes padding on sides to maintain fixed width */
    border-radius: 20px;
    background: linear-gradient(135deg, #6a0dad, #1e90ff);
    box-shadow: none;

    /* text */
    text-align: center;
    font-family: 'Arial';
    padding-left: 20px; /* when aligning to left, gives padding so not all the way left */
    color: white;
}


.error-msg {
    position: relative;
    top: 200px;
    left: 295px;
    color: red;
}